<footer class="content">
  <div class="wrap">
    <p>
      {% if site.bottom_link.homepage %}
      <a href="{{ site.bottom_link.homepage }}"><span class="icon-home"></span></a>
      {% endif %} {% if site.bottom_link.home %}
      <a target="_blank" href="{{ site.bottom_link.home }}"><span class="icon-download"></span></a>
      {% endif %} {% if site.bottom_link.play %}
      <a target="_blank" href="{{ site.bottom_link.play }}"><span class="icon-game"></span></a>
      {% endif %} {% if site.bottom_link.wiki %}
      <a target="_blank" href="{{ site.bottom_link.wiki }}"><span class="icon-wiki"></span></a>
      {% endif %} {% if site.bottom_link.blog %}
      <a target="_blank" href="{{ site.bottom_link.blog }}"><span class="icon-blog"></span></a>
      {% endif %} {% if site.bottom_link.chat %}
      <a target="_blank" href="{{ site.bottom_link.chat }}"><span class="icon-chat"></span></a>
      {% endif %} {% if site.bottom_link.mail %}
      <a href="mailto:{{ site.bottom_link.mail }}"><span class="icon-mail"></span></a>
      {% endif %}
    </p>
    <p>
      <a class="auther" href="{{ site.url }}"> {{ site.auther }} </a> &copy; {{ site.time | date: "%Y" }}
    </p>
  </div>
</footer>